data/
# TrainedModels/
plots/*.png
*.jpeg
*.jpg
.python-version
__pycache__/
*.aux
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.fdb_latexmk
*.fls
*.tdo


cli.py
client_secrets.json
dataset-loader-442913-3ac688262e7b.json
login_key.json
token.json