data/
# TrainedModels/
plots/*.png
*.jpeg
data/*.jpg
.python-version
__pycache__/
*.aux
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.fdb_latexmk
*.fls
*.tdo
neural_operators/CNO/TrainedModels/shear_layer/model_CNO_test_L1_best_hyperparams


cli.py
client_secrets.json
dataset-loader-442913-3ac688262e7b.json
login_key.json
token.json