data/
plots/*.png
*.jpeg
data/*.jpg
.python-version
__pycache__/
*.aux
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.fdb_latexmk
*.fls
*.tdo
neural_operators/tests/FNO/shear_layer/loss_L1_mode_default/model_FNO_2D_ShearLayer
neural_operators/tests/FNO/poisson/loss_L1_mode_best/model_FNO_2D_SinFrequency
neural_operators/tests/FNO/disc_tran/loss_L1_mode_best/model_FNO_2D_DiscContTranslation

